{% extends 'base.html' %}
{% block title %}Editar Prestamo{% endblock title%}
{% block content %}
<h3>Editar Prestamo {{prestamo}}</h3>
<form method='post' action="{% url 'prestamos:editar_prestamo' prestamo.id %}">
    {% csrf_token %}
    <p>
        {{form.usuario.label_tag}}
        {{form.usuario}}
    </p>
    <p>
        {{form.libro.label_tag}}
        {{form.libro}}
    </p>
    <input type='submit' value='Editar'/>
</form>
<a href="{% url 'prestamos:detalle_prestamo' prestamo.id %}"><button>Cancelar</button></a>
{% endblock %}